In [1]:
import pandas
import sqlite3

In [2]:
conn = sqlite3.connect("datasets_as_tables.db")
cur = conn.cursor()

In [ ]:
# pandas.read_sql_query("select orig.unit, orig.label, b_50.label, b_100.label "+
pandas.read_sql_query("select orig.unit, count(*)"+

                      "from original_df orig, brightening_50 b_50, brightening_100 b_100 "+
                      "where orig.unit=b_50.unit or orig.unit=b_100.unit and (orig.label!=b_50.label or orig.label!=b_100.label) "+
#                       "group by old.category "+
#                       "limit 10"+
                      ";", conn)

In [ ]:
pandas.read_sql_query("select * "+
                      "from original_df orig "+
                      "limit 5 "+
                      ";", conn)

In [ ]:
pandas.read_sql_query("select orig.unit, orig.label, orig.score, b_100.label, b_100.score, b_a_100.label, b_a_100.score "+

                      "from original_df orig, gaussian_attack_100 b_100, gaussian_attack_100_dilation_10 b_a_100 "+
                      "where (b_a_100.label='airplane' or b_100.label='airplane' or orig.label='airplane') and orig.unit=b_a_100.unit and orig.unit=b_100.unit"+
#                       "group by old.category "+
#                       "limit 10"+
                      ";", conn)

In [ ]:
pandas.read_sql_query("select orig.unit, orig.label, orig.score, b_a_100.label, b_a_100.score "+

                      "from original_df orig, gaussian_attack_100_dilation_10 b_a_100 "+
                      "where (b_a_100.label!='airplane' and orig.label!='airplane') and b_a_100.label!=orig.label and orig.score > b_a_100.score and orig.unit=b_a_100.unit"+
#                       "group by old.category "+
#                       "limit 10"+
                      ";", conn)

In [ ]:
pandas.read_sql_query("select orig.unit, orig.label, orig.score, b_100.label, b_100.score, b_a_100.label, b_a_100.score "+

                      "from original_df orig, gaussian_attack_100 b_100, gaussian_attack_100_dilation_10 b_a_100 "+
                      "where orig.label='airplane' and orig.unit=b_100.unit and orig.unit=b_a_100.unit and orig.score >= b_a_100.score"+
                      ";", conn)

In [ ]:
pandas.read_sql_query("select orig.label, avg(orig.score), avg(b_100.score), avg(b_a_100.score) "+
                      "from original_df orig, gaussian_attack_100 b_100, gaussian_attack_100_dilation_10 b_a_100 "+
                      "where orig.label='airplane' or b_100.label='airplane' or b_a_100.label='airplane' "+
                      "group by orig.label"
                      ";", conn)

In [ ]:
print(pandas.read_sql_query("select orig.label, avg(orig.score) "+
                      "from original_df orig "+
                      "where orig.label='airplane' "+
                      ";", conn))
print(pandas.read_sql_query("select orig.label, avg(orig.score) "+
                      "from gaussian_attack_100 orig "+
                      "where orig.label='airplane' "+
                      ";", conn))
print(pandas.read_sql_query("select orig.label, avg(orig.score) "+
                      "from gaussian_attack_100_dilation_10 orig "+
                      "where orig.label='airplane' "+
                      ";", conn))

In [ ]:
pandas.read_sql_query("select b_100.label, count(*)  "+
                      "from original_df orig, gaussian_attack_100 b_100 "+
                      "where orig.unit=b_100.unit and orig.label!=b_100.label "+
                      "group by b_100.label"
                      ";", conn)

In [ ]:
pandas.read_sql_query("select orig.label, orig.score, b_100.label, b_100.score  "+
                      "from original_df orig, gaussian_attack_100 b_100 "+
                      "where orig.unit=b_100.unit and orig.label!=b_100.label and b_100.label='airplane' "+
                      ";", conn)

In [ ]:
pandas.read_sql_query("select orig.label, orig.score, b_100.label, b_100.score  "+
                      "from original_df orig, gaussian_attack_100_dilation_10 b_100 "+
                      "where orig.unit=b_100.unit and orig.label!=b_100.label and b_100.label='airplane' "+
                      ";", conn)

In [ ]:
print(pandas.read_sql_query("select count(*), avg(orig.score), avg(b_100.score)  "+
                      "from original_df orig, gaussian_attack_100 b_100 "+
                      "where (b_100.label != 'airplane' and orig.label != 'airplane') and orig.unit=b_100.unit and orig.label!=b_100.label  "+
                      ";", conn))
print(pandas.read_sql_query("select count(*), avg(orig.score), avg(b_100.score)  "+
                      "from original_df orig, gaussian_attack_100_dilation_10 b_100 "+
                      "where (b_100.label != 'airplane' and orig.label != 'airplane') and orig.unit=b_100.unit and orig.label!=b_100.label  "+
                      ";", conn))
print(pandas.read_sql_query("select count(*), avg(orig.score), avg(b_100.score)  "+
                      "from original_df orig, gaussian_attack_100_dilation_10 b_100 "+
                      "where orig.unit=b_100.unit and orig.label!=b_100.label  "+
                      ";", conn))

In [ ]:
print(pandas.read_sql_query("select count(*), avg(orig.score), avg(b_100.score)  "+
                      "from original_df orig, gaussian_attack_100 b_100 "+
                      "where (b_100.label = 'airplane' or orig.label = 'airplane') and orig.unit=b_100.unit and orig.label!=b_100.label  "+
                      ";", conn))
print(pandas.read_sql_query("select count(*), avg(orig.score), avg(b_100.score)  "+
                      "from original_df orig, gaussian_attack_100_dilation_10 b_100 "+
                      "where (b_100.label = 'airplane' or orig.label = 'airplane') and orig.unit=b_100.unit and orig.label!=b_100.label  "+
                      ";", conn))

In [16]:
pandas.read_sql_query("select orig.unit, orig.label, orig.score, b_100.label, b_100.score, b_100_dil.label, b_100_dil.score "+
                      "from original_df orig, brightening_attack_100 b_100, brightening_attack_100_dilate_10 b_100_dil "+
                      "where ( orig.label = 'airplane' or b_100.label='airplane' or b_100_dil.label='airplane') and orig.unit=b_100.unit and orig.unit = b_100_dil.unit "+
                      "order by orig.label, b_100.label, b_100_dil.label"+
                      ";", conn)

,unit,label,score,label,score,label,score
0,247,airplane,0.097811,airplane,0.140399,airplane,0.105577
1,435,airplane,0.089874,airplane,0.098062,airplane,0.077145
2,219,airplane,0.086949,airplane,0.106248,airplane,0.110078
3,320,airplane,0.066022,airplane,0.091464,airplane,0.070620
4,39,airplane,0.040935,airplane,0.075379,bullring-s,0.044667
5,438,airplane,0.086557,airplane,0.125748,cockpit-s,0.112646
6,115,airplane,0.084861,airplane,0.089605,conference_room-s,0.067399
7,60,airplane,0.085389,airplane,0.078785,galley-s,0.057588
8,306,airplane,0.050400,airplane,0.046289,kitchen-s,0.032715
9,392,airplane,0.022076,art_gallery-s,0.038355,art_gallery-s,0.037991
10,62,airplane,0.062260,heliport-s,0.040916,heliport-s,0.040228
11,238,airplane,0.052863,orchard-s,0.102626,orchard-s,0.099938
12,451,airplane,0.042790,windmill-s,0.100168,windmill-s,0.098472
13,412,bed,0.041471,airplane,0.061027,airplane,0.083129
14,212,grass,0.019855,airplane,0.049927,airplane,0.033899
15,424,landing_deck-s,0.040951,airplane,0.041034,potholed,0.034353

In [10]:
pandas.read_sql_query("select orig.unit, orig.label, avg(orig.score), b_100.label, avg(b_100.score), b_100_dil.label, avg(b_100_dil.score) "+
                      "from original_df orig, brightening_attack_100 b_100, brightening_attack_100_dilate_10 b_100_dil "+
                      "where ( orig.label = 'airplane' and b_100.label='airplane') and orig.unit=b_100.unit and orig.unit = b_100_dil.unit "+
                      "order by orig.label, b_100.label, b_100_dil.label"+
                      ";", conn)

,unit,label,avg(orig.score),label,avg(b_100.score),label,avg(b_100_dil.score)
0,39,airplane,0.076533,airplane,0.094664,bullring-s,0.075382

In [12]:
pandas.read_sql_query("select orig.unit, orig.label, avg(orig.score), b_100.label, avg(b_100.score), b_100_dil.label, avg(b_100_dil.score) "+
                      "from original_df orig, brightening_attack_100 b_100, brightening_attack_100_dilate_10 b_100_dil "+
                      "where ( orig.label = 'airplane' and b_100_dil.label='airplane') and orig.unit=b_100.unit and orig.unit = b_100_dil.unit "+
                      "order by orig.label, b_100.label, b_100_dil.label"+
                      ";", conn)

,unit,label,avg(orig.score),label,avg(b_100.score),label,avg(b_100_dil.score)
0,320,airplane,0.085164,airplane,0.109043,airplane,0.090855

In [13]:
pandas.read_sql_query("select orig.unit, orig.label, avg(orig.score), b_100.label, avg(b_100.score), b_100_dil.label, avg(b_100_dil.score) "+
                      "from original_df orig, brightening_attack_100 b_100, brightening_attack_100_dilate_10 b_100_dil "+
                      "where ( orig.label = 'airplane' and b_100.label='airplane' and b_100_dil.label='airplane') and orig.unit=b_100.unit and orig.unit = b_100_dil.unit "+
                      "order by orig.label, b_100.label, b_100_dil.label"+
                      ";", conn)

,unit,label,avg(orig.score),label,avg(b_100.score),label,avg(b_100_dil.score)
0,320,airplane,0.085164,airplane,0.109043,airplane,0.090855

In [20]:
pandas.read_sql_query("select orig.unit, orig.label, b_50.label, b_100.label "+
                      "from original_df orig, brightening_100 b_100, brightening_50 b_50 "+
                      "where orig.unit= b_50.unit and b_100.unit=b_50.unit and orig.label!=b_50.label "+
                      ";", conn)

,unit,label,label,label
0,144,paisley,interlaced,interlaced
1,386,train,bus,bus
2,341,sea,beach-s,beach-s
3,74,dog,cat,cat
4,427,waffled,bakery-shop-s,bakery-shop-s
5,311,bathroom-s,sink,sink
6,141,meshed,grid,grid
7,113,dining_room-s,conference_room-s,conference_room-s
8,446,game_room-s,poolroom-home-s,poolroom-home-s
9,357,dog,cat,zen_garden-s
10,453,gauzy,crevasse-s,crevasse-s
11,65,game_room-s,poolroom-home-s,poolroom-home-s
12,252,bathroom-s,toilet,bathroom-s
13,325,person,freckled,freckled
14,130,beach-s,coast-s,coast-s
15,9,plant,greenhouse-indoor-s,greenhouse-indoor-s
16,329,poolroom-home-s,pool table,pool table
17,58,porous,excavation-s,excavation-s
18,176,car_interior-backseat-s,tent,car_interior-backseat-s
19,54,lined,grooved,lined
20,278,matted,field-wild-s,marsh-s
21,469,meshed,cobwebbed,cobwebbed
22,373,paisley,rubble-s,rubble-s
23,498,bus_interior-s,cockpit-s,cockpit-s
24,63,dog,grass,dog
25,475,train,coach,coach
26,429,lacelike,porous,lacelike
27,169,dog,head,head
28,480,sofa,airplane_cabin-s,airplane_cabin-s
29,465,road,crosswalk,crosswalk
...,...,...,...,...
162,154,kitchen-s,house,kitchen-s
163,64,arm,boxing_ring-s,boxing_ring-s
164,6,slum-s,pantry-s,slum-s
165,342,warehouse-indoor-s,train,excavation-s
166,38,airplane_cabin-s,freckled,airplane_cabin-s
167,117,park-s,roundabout-s,roundabout-s
168,66,hospital-s,coach,hospital-s
169,317,lighthouse-s,coach,coach
170,326,parlor-s,headboard,headboard
171,192,living_room-s,bakery-shop-s,bakery-shop-s
172,133,sauna-s,waterfall-block-s,waterfall-block-s
173,167,amphitheater-s,sandbox-s,sandbox-s
174,450,bridge-s,youth_hostel-s,youth_hostel-s
175,270,attic-s,nursery-s,nursery-s
176,285,spiralled,amphitheater-s,spiralled
177,36,beach-s,wheel,wheel
178,159,sky,alley-s,alley-s
179,72,building,lobby-s,lobby-s
180,28,marbled,cockpit-s,cockpit-s
181,35,bed,childs_room-s,childs_room-s
182,489,television_studio-s,gazebo-exterior-s,tent
183,392,airplane,art_gallery-s,art_gallery-s
184,59,playground-s,gas_station-s,gas_station-s
185,466,bathroom-s,bed,toilet
186,235,courtroom-s,screen,ice_cream_parlor-s
187,330,clothing_store-s,airplane,rock
188,95,lacelike,plant,plant
189,362,shoe_shop-s,archive-s,archive-s
190,124,highway-s,gas_station-s,gas_station-s
191,284,top,classroom-s,classroom-s